{% extends 'layout.html' %}

{% block body %}

    <h1 style="text-align: center;">{{ title }}</h1>

    <table border="0" align="center" ; cellpadding="5">
        <tr style="font-weight: bold; background-color: #b7b7b7">

            {% for co in range(campos|count) %}
            <td>
                {{ campos[co][0].capitalize() }}
            </td>
            {% endfor %}
        </tr>
        {% for li in range(tabela|count) %}
        <tr>
            <td style="font-weight: bold">{{ tabela[li][0] }}</td>
            {% for co in range(1, campos|count) %}
            <td align="left">
                {{ tabela[li][co] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}
